<!--This partial requires ONE instance of cardmenu.ejs to function properly.-->
<div class="card-container-aligner">
	<div class="card-container">
	</div>
</div>

<script>
	window.activeUserData = <%- JSON.stringify(activeUser) %>;
	window.cardData = <%- JSON.stringify(cards) %>;
</script>
<script src="/scripts/utils/buttoninlink.js"></script>
<script src="/scripts/utils/tagdisplay.js"></script>
<script src="/scripts/controllers/cardbox.js" defer></script>
