
<div class="bottom-fixed select-hidable" style="display:none;">
	<div id="card-menu-container">
		<div></div>
	</div>
	<div id="card-menu">
		<p><span class="card-selected-count">0 cards</span> selected</p>
		<button class="button-standard" onclick="clearSelection()">Clear Selection</button>
		<form id="card-deck-menu" class="inline-form" onsubmit="addToDeck(this);return false;">
			<select name="deck" id="deck-selector">
			</select>
			<input class="button-highlighted" type="submit" value="Add to Deck"/>
		</form>
		<form id="card-tag-menu" class="inline-form" onsubmit="applyTag(this);return false;">
			<select name="tag" id="tag-selector">
			</select>
			<input class="button-highlighted" type="submit" value="Apply Tag"/>
		</form>
		<form id="delete-cards-menu" class="inline-form" onsubmit="deleteCards();return false;" style="display:none;">
			<div class="fine-print">You are trying to delete <span class="card-selected-count">0 cards</span>. This action is irreversible.</div>
			<input class="button-danger" type="submit" value="Delete Forever"/>
		</form>
		<button id="delete-cards-pull" class="button-danger" onclick="deleteCardsMenu()">Delete Cards</button>
	</div>
</div>
