<div class="content-box">
	<h2>Enjoying the game?</h2>
	<p>Trivial is free and open source, forever: no ads, no fees, no data brokerage. If you'd like to help make it better, please contribute <a href="https://github.com/mOctave/trivial">on GitHub</a>!</p>
</div>

