<div class="content-box">
	<h2>Cookies</h2>
	<p>Trivial uses cookies to keep you signed in and remember limited data about your session. This data is not shared externally. Trivial does not use third-party tracking cookies.</p>
</div>

