<div class="content-box">
	<h2>Custom Matches</h2>
	<div class="basic-grid">
		<button class="medium-grid-element button-join">Host</button>
		<button class="medium-grid-element button-join">Join</button>
	</div>
</div>
