<div class="content-box">
	<h2>Import Deck from JSON</h2>
	<form onsubmit="importJSON(); return false;">
		<input type="file" id="import-deck-json" accept="application/json"/>
		<input type="submit" class="button-highlighted" value="Import"/>
	</form>
</div>

<script src="/scripts/controllers/deckimport.js" defer></script>
