<div class="gold-content-box">
	<h2>Popular Decks</h2>
	<div class="deck-container">
	</div>
</div>

<script>
	window.deckData = <%- JSON.stringify(decks) %>;
</script>
<script src="deckproc.js" defer></script>
