<div class="content-box">
	<h2>Join a Duel</h2>
	<div class="basic-grid">
		<!-- TODO: Make these actually do something -->
		<button class="wide-grid-element button-join"><span id="lc-quick-play" class="lobby-count">0</span><span>Quick Play</span></button>
		<button class="narrow-grid-element button-join"><span id="lc-geography" class="lobby-count">0</span><img src="/img/geography.svg"/><span>Geography</span></button>
		<button class="narrow-grid-element button-join"><span id="lc-history" class="lobby-count">0</span><img src="/img/history.svg"/><span>History</span></button>
		<button class="narrow-grid-element button-join"><span id="lc-language" class="lobby-count">0</span><img src="/img/language.svg"/><span>Language</span></button>
		<button class="narrow-grid-element button-join"><span id="lc-famous-people" class="lobby-count">0</span><img src="/img/famous-people.svg"/><span>Famous People</span></button>
		<button class="narrow-grid-element button-join"><span id="lc-ama" class="lobby-count">0</span><img src="/img/favicon.svg"/><span>Ask Me Anything</span></button>
		<button class="narrow-grid-element button-join"><span id="lc-arts-culture" class="lobby-count">0</span><img src="/img/art-culture.svg"/><span>Art and Culture</span></button>
		<button class="narrow-grid-element button-join"><span id="lc-sports-rec" class="lobby-count">0</span><img src="/img/sports-rec.svg"/><span>Sports and Recreation</span></button>
		<button class="narrow-grid-element button-join"><span id="lc-science-tech" class="lobby-count">0</span><img src="/img/science-tech.svg"/><span>Science and Technology</span></button>
		<button class="narrow-grid-element button-join"><span id="lc-general-knowledge" class="lobby-count">0</span><img src="/img/general-knowledge.svg"/><span>General Knowledge</span></button>
		<button class="medium-grid-element button-join"><span id="lc-byod-o" class="lobby-count">0</span><img src="/img/deck-filled.svg"/><span>BYOD (Official)</span></button>
		<button class="medium-grid-element button-join"><span id="lc-byod-u" class="lobby-count">0</span><img src="/img/deck-unfilled.svg"/><span>BYOD (Unlimited) </span></button>
	</div>
</div>
