<div class="navbar">
	<a href="/" class="navitem"><img src="/img/favicon.svg"/>Trivial</a>
	<div class="navright">
		<a href="/play" class="navitem">Play</a>
		<a href="/create" class="navitem">Create</a>
		<a href="/cards" class="navitem">Cards</a>
		<a href="/decks" class="navitem">Decks</a>
	</div>
</div>
<div class="mobile-navbar">
	<a href="/" class="navitem"><img src="/img/favicon.svg"/>Trivial</a>
	<div class="navright">
		<div id="navmenu-toggle" class="navitem"></div>
	</div>
	<div id="navmenu">
		<a href="/play" class="navitem">Play</a>
		<a href="/create" class="navitem">Create</a>
		<a href="/cards" class="navitem">Cards</a>
		<a href="/decks" class="navitem">Decks</a>
	</div>
</div>
<div class="navbar-padding"></div>

<script src="/scripts/navbar.js" defer></script>
