<title>Trivial</title>
<meta name="title" content="Trivial"/>
<meta charset="UTF-8"/>
<meta name="description" content="Got questions? We don't have answers, but maybe you can get some from your friends"/>
<meta name="keywords" content="trivia"/>
<meta author="mOctave"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="common.css"/>
<link rel="icon" href="img/favicon.svg"/>
