<div class="content-box">
	<h2>Host a custom match</h2>
	<form action="/api/games/host" method="POST">
		<label for="gamemode-selector">Gamemode:</label>
		<select id="gamemode-selector" name="cardChoice">
			<option value="byod-unlimited">BYOD (Unlimited)</option>
			<option value="byod-official">BYOD (Official)</option>
			<option value="geography">Geography</option>
			<option value="history">History</option>
			<option value="language">Language</option>
			<option value="famous-people">Famous People</option>
			<option value="art-culture">Art and Culture</option>
			<option value="sports-rec">Sports and Recreation</option>
			<option value="science-tech">Science and Technology</option>
			<option value="general-knowledge">General Knowledge</option>
			<option value="ama">Ask Me Anything</option>
		</select>
		<label for="round-length-selector">Round&nbsp;Length:</label>
		<select id="round-length-selector" name="roundLength">
			<option value="5">5s (Bullet)</option>
			<option value="10">10s (Blitz)</option>
			<option value="15" selected="selected">15s (Normal)</option>
			<option value="20">20s (Long)</option>
			<option value="30">30s (Very Long)</option>
			<option value="60">60s (Ponderous)</option>
		</select>
		<label for="pause-length-selector">Pause&nbsp;Length:</label>
		<select id="pause-length-selector" name="pauseLength">
			<option value="0">No Reveal</option>
			<option value="3">3s (Short)</option>
			<option value="5" selected="selected">5s (Normal)</option>
			<option value="10">10s (Long)</option>
			<option value="20">20s (Ponderous)</option>
		</select>
		<label for="target-score-selector">Target&nbsp;Score:</label>
		<select id="target-score-selector" name="targetScore">
			<option value="50">50 (Quick Game)</option>
			<option value="100" selected="selected">100 (Standard Game)</option>
			<option value="250">250 (Long Game)</option>
			<option value="1000">1000 (Extreme Game)</option>
			<option value="4219.5">4219.5 (Marathon)</option>
		</select>
		<input class="button-highlighted" type="submit" value="Host!"/>
	</form>
</div>
