<div class="content-box joinmenu">
	<h2>Join a custom match</h2>
</div>

<script>
	window.openGameData = <%- JSON.stringify(openGames) %>;
</script>
<script src="/scripts/fillers/joinmenu.js" defer></script>