<div class="content-box">
	<h2>Top Trivialists</h2>
	<ol class="leaderboard-container">
	</ol>
</div>

<script>
	window.leaderboardData = <%- JSON.stringify(leaderboard) %>;
</script>
<script src="/leaderboardproc.js" defer></script>
