<div class="content-box">
	<h2>Create a new deck</h2>
	<hr/>
	<form id="deck-editor" action="/api/decks/create" method="POST">

		<div id="deck-editor-body">

			<div class="deck-name">
				<label for="name">Deck&nbsp;name:</label>
				<input name="name" type="text" placeholder="My new deck" required/>
			</div>
			<img class="deck-thumb" src="/img/favicon.svg"/>
			<div class="deck-description">
				<label for="description">Deck&nbsp;description:</label>
				<textarea name="description" placeholder="Enter a short description of your deck." rows="4"></textarea>
			</div>
		</div>
		<input class="button-highlighted" type="submit" value="Create"/>
	</form>
</div>
