<div class="content-box">
	<h2>Ranks</h2>
	<p>Ranks in Trivial are awarded based on the rating you manage to achieve. As you play and win more games, you can progress from <span class="rank-bronze">Bronze</span> through <span class="rank-silver">Silver</span>, <span class="rank-gold">Gold</span>, <span class="rank-platinum">Platinum</span>, <span class="rank-diamond">Diamond</span>, and <span class="rank-astral">Astral</span> ranks before becoming a <span class="rank-master">Master</span>... or maybe even a <span class="rank-gm">Grandmaster</span>. Just be careful not to have your rating drop so far that you become <span class="rank-rusty">Rusty</span>.</p>
</div>
