<% if (locals.targetUser) { %>
	<div class="content-box">
		<div class="user-container">
		</div>
	</div>

	<script>
		window.targetUserData = <%- JSON.stringify(targetUser) %>;
	</script>
	<script src="/userproc.js" defer></script>

<% } %>
