<!--
Trivial: Multiplayer trivia online.
Copyright (C) 2026 mOctave

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->


<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/head"); %>
	</head>
	<body>
		<%- include("../partials/navbar"); %>
		<div class="main-container">
			<h1>Privacy Policy</h1>
			<p>This privacy policy ("policy") describes how we use data you provide through the website when you visit <a href="https://trivial.moctave.net">trivial.moctave.net</a>.</p>
			<h3>Data We Collect</h3>
			<p>When you visit the website, we and our registrar Cloudflare may collect the following data:</p>
			<ul>
				<li>Data you provide (such as login credentials or card answers)</li>
				<li>Information about your session (such as IP address or web browser)</li>
			</ul>
			<h3>How Your Data is Stored</h3>
			<p>Data we collect is stored in our site database and is not typically deleted. While this database is generally secure it is not perfect. <b>Please do not upload personally identifiable information to this site.</b></p>
			<p>Data we collect for authentication or normal functioning of the site may be stored indefinitely. If you have accidentally submitted personally identifiable information to this site, please <a href="mailto:moctave31414@gmail.com">contact us</a> so we can remove it.</p>
			<h3>How Your Data is Used</h3>
			<p>Your data may be used for the following purposes:</p>
			<ul>
				<li>To provide services (such as to allow you to play Trivial games)</li>
				<li>To comply with legal obligations</li>
				<li>For other purposes for which you have given prior informed consent</li>
			</ul>
			<p>We do not, nor do we ever intend to, sell any information we collect through this website to any third-party, for any purpose.</p>
			<p>Cloudflare uses data they collect to provide analytics, subject to their <a href="https://www.cloudflare.com/en-ca/privacypolicy/">Privacy Policy</a>. If you would like to opt-out of such analytics, I recommend using a browser extension such as <a href="https://github.com/gorhill/uMatrix">uMatrix</a> to block scripts from cloudflareinsights.com.</p>
			<h3>Cookies</h3>
			<p>Trivial uses first-party cookies for authentication and to remember information across your session. These cookies are typically cleared when your session ends and are strictly necessary for the proper functioning of the website. Trivial does not use third-party cookies for tracking, marketing, or any other purpose.</p>
			<p>Here's what Trivial's cookies do:</p>
			<ul>
				<li><pre>token</pre> stores a <a href="https://en.wikipedia.org/wiki/JSON_Web_Token">JSON Web Token</a> to allow you to use the website without having to log in every time you want to do anything</li>
				<li><pre>deckChoiceOfficial</pre> and <pre>deckChoiceUnlimited</pre> remember your deck choices for BYOD games</li>
			</ul>
			<%- include("../partials/copyright"); %>
		</div>
	</body>
</html>
