<!--
Trivial: Multiplayer trivia online.
Copyright (C) 2026 mOctave

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->


<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/head"); %>
	</head>
	<body>
		<%- include("../partials/navbar"); %>
		<div class="main-container">
			<h1>Terms of Service</h1>
			<p>Thank you for choosing to play Trivial! By using this site, you are agreeing to be bound by the following rules:</p>
			<div class="content-box">
				<p><b>You are responsible for content you create.</b> It is your responsibility to ensure that all content you upload doesn't infringe upon anyone's rights, and that you are not violating copyright law when you upload content. When you create or upload content you grant Trivial a non-exclusive, royalty-free, perpetual, irrevocable, and worldwide license to use and distribute your content and to create, use, and distribute derivative works.</p>
				<p>We disclaim all legal responsibility for content you create.</p>
				<p>If you believe that any content on Trivial infringes upon your copyright rights, please file a DMCA takedown request by <a href="mailto:moctave31415@gmail.com">email</a>.</p>
			</div>
			<div class="content-box">
				<p><b>Be respectful.</b> The following are all strictly forbidden and may result in your account being deleted: content intended to insult another person or group, nudity or sexual content, images of a person who is not famous, proselytization and political activism, and content which endorses illegal drug use or Nazi ideologies. When you create cards or a deck, please avoid the use of profanity unless it is absolutely necessary (ie, part of a band's name). Content that we deem offensive may be taken down without notice.</p>
			</div>
			<div class="content-box">
				<p><b>Do not attempt to inject code into the site.</b> Any attempt to inject viruses, trojans, worms, logic bombs, or any other malicious code of any sort into this site, or to block the services of this site through a denial-of-service attack, is illegal under the Criminal Code of Canada.</p>
			</div>
			<p>Trivial is licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>. This means that you have the right to access the site's source code, which is available <a href="https://github.com/moctave/trivial">on GitHub</a>. You may make copies and use them for any legal purpose without our consent, but we are not accountable for what you choose to do with our code.</p>

			<p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. We reserve the right to delete and/or modify all content on this site, and to cease providing services for any reason at all and without providing prior notice.</p>

			<p>We reserve the right to update these terms as needed, although the code will always remain licensed under the GNU Affero General License, version 3 or later.</p>

			<p class="fine-print">These terms were last updated 12 May 2026.</p>
		</div>
		<%- include("../partials/copyright"); %>
	</body>
</html>
